// ヘッダーの始まり
.header{
  background-color: rgb(191, 236, 122);
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  border-bottom: 0.5px solid black;
  opacity: 0.8;
  &__link{
    text-decoration: none;
    &__logo{
      font-size: 30px;
      color: red;
      font-family: 'Times New Roman', Times, serif;
      margin-left: 50px;
      span{
        color: black;
      }
    }

  }
  &__list{
    display: flex;
    &__search{
      margin-right: 10px;
    }
    &__logout{
      margin-right: 10px;
      height: 80px;
      width: 100px;
      display: flex;
      align-items: center;
      background-color: rgb(202, 201, 201);
      &__link{
        text-decoration: none;
        color: black;
        margin: 0 auto;
      }
    }
    &__edit{
      margin-right: 80px;
      height: 80px;
      width: 120px;
      display: flex;
      align-items: center;
      background-color: rgb(202, 201, 201);
      &__link{
        text-decoration: none;
        color: black;
        margin: 0 auto;
      }
    }
    &__new{
      margin-right: 10px;
      height: 80px;
      width: 100px;
      display: flex;
      align-items: center;
      background-color: rgb(202, 201, 201);
      &__link{
        text-decoration: none;
        color: black;
        margin: 0 auto;
      }
    }
    &__login{
      margin-right: 80px;
      height: 80px;
      width: 100px;
      display: flex;
      align-items: center;
      background-color: rgb(202, 201, 201);
      &__link{
        text-decoration: none;
        color: black;
        margin: 0 auto;
      }
    }
  }
}
// ヘッダーの終わり
// メイン画像始まり
.topwrapper{
  width: 70vw;
  height: 600px;
  margin: 0 auto;
  padding-top: 80px;
  &__img{
    width: 100%;
    height: 100%;
  }
}
// メイン画像終わり
// カテゴリー欄始まり
.content{
  display: flex;
  .category{
    // height: calc(100% - 380px);
    width: 15%;
    background-color: cornsilk;
    border-radius: 25px;
    &__lists{
      &__list{
        height: 80px;
        width: 50%;
        font-size: 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
      }
    }
  }
  // カテゴリー欄終わり
  // コンテンツ始まり
  .main{
    width: calc(100vw - 15%);
    // height: calc(100% - 380px);
    background-color: rgb(225, 225, 241);
    display: flex;
    flex-wrap: wrap;
    &__contents{
      width: 30%;
      height: 400px;
      background-color: #dddddd;
      margin: 40px 0 30px 20px;
      position: relative;
      &__item{
        &__name{
          position: absolute;
          bottom: 100px;
          left: 50px;
          text-decoration: none;
          color: black;
          font-size: 25px;
        }
        &__price{
          position: absolute;
          bottom: 60px;
          left: 50px;
          display: flex;
        }
        &__img{
          width: 80px;
          height: 100px;
        }
        &__title{
          font-size: 20px;
        }
        &__price{
          font-size: 20px;
        }
      }
    }
  }
  // コンテンツ終わり
}
// メイン終わり
// フッター始まり
.footer{
  width: 100%;
  height: 100px;
  background-color: rgb(191, 236, 122);
  p{
    padding: 20px;
  }
}
// フッター終わり
// 詳細ページ始まり
.show{
  width: 100vw;
  height: 60vh;
  padding-top: 80px;
  display: flex;
  &__img{
    width: 500px;
    height: 600px;
  }
  &__data{
    padding: 100px 0 0 100px;  
    &__name{
      font-size: 30px;
      font-weight: bold;
    }
    &__date{
      font-size: 20px;
    }
    &__price{
      font-size: 30px;
    }
    &__btn{
      button{
        background-color: #cab270;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 20px;
      }
    }
  }
  &__exolan{
    padding: 100px 0 0 40px;
    font-size: 30px;
  }
}
.producer{
  width: 100vw;
  height: 20vh;
  background-color: blanchedalmond;
  border-top: 1px solid black;
  &__voice{
    font-size: 15px;
    padding: 20px 0 0 200px;
  }
}