-# メイン画像始まり
.topwrapper
  -# %img(src="../../../public/publicdomainq-0031538eqk.jpg" alt="野菜" class="topwrapper__img")
  -# %img (src="../../../public/publicdomainq-0031538eqk.jpg" alt="野菜" class="topwrapper__img")
  %img{ src: "/publicdomainq-0031538eqk.jpg", alt: "野菜", class: "topwrapper__img"}
  -# メイン画像終わり
  -# カテゴリー欄始まり
.content
  .category
    %ul.category__lists
      %li.category__lists__list にんじん
      %li.category__lists__list ピーマン
      %li.category__lists__list 白菜
      %li.category__lists__list ほうれん草
      %li.category__lists__list 大根
  -# カテゴリー欄終わり
  -# コンテンツ始まり
  -# accepts_nested_attributes_for
  .main
    - @product.each do |product|
      .main__contents
        .main__contents__item
          = image_tag product.image, class: "main__contents__item__img"
          = link_to product_path(product), class: "main__contents__item__name" do
            = product.name
          .main__contents__item__price
            = product.price
            %p 円
    -# = link_to '#' do
    -#   .main__contents
    -#     .main__contents__item
    -#       %img(src="app/assets/images/topwrapper.jpeg" alt="販売されている野菜" class="main__contents__item__img")/
    -#       %p.main__contents__item__title title
    -#       %p.main__contents__item__price price
    -# = link_to '#' do
    -#   .main__contents
    -#     .main__contents__item
    -#       %img(src="" alt="" class="main__contents__item__img")/
    -#       %p.main__contents__item__title title
    -#       %p.main__contents__item__price price
    -# = link_to '#' do
    -#   .main__contents
    -#     .main__contents__item
    -#       %img(src="" alt="" class="main__contents__item__img")/
    -#       %p.main__contents__item__title title
    -#       %p.main__contents__item__price price
    -# = link_to '#' do
    -#   .main__contents
    -#     .main__contents__item
    -#       %img(src="" alt="" class="main__contents__item__img")/
    -#       %p.main__contents__item__title title
    -#       %p.main__contents__item__price price
-# コンテンツ終わり
