.show
  .show__img
    %img(src="" alt="")/
  .show__data
    .show__data__name
      商品の名前
    .show__data__date
      発送日
    .show__data__price
      値段
    .show__data__btn
      %input(type='submit' value="購入する")/
  .show__exolan
    商品説明
.producer
  .producer__voice
    %p 生産者の声
  
  

